body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.component-continer {
  width: 50%;
  margin: auto;
  max-width: 500px;
  padding: 15px;
  border: 2px solid #DDD;
  margin-top: 20px;
}

.component-name {
  font-size: 20px;
  font-weight: bold;
}

.title{
  font-size: 20px;
  font-weight: bold;
  border: 0px;
}

.control{
  margin-top: 20px; 
}
